@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    padding: 0;
    margin: 0;
}

/*BANNER1 */
.banner1{
    background-color: black;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
}
.navbar-pro{
    background-color: rgb(80, 0, 0);
    height: 4rem;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 50px;
    opacity: 40%;
}
.navbar {
    display: flex;
    color: white;
    padding-top: 2rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    align-items: center;
    font-family: 'Poppins';
}
.navbar2{
    background-color: rgb(80, 0, 0);
    height: 11.5rem;
    border-radius: 1rem;
    opacity: 80%;
    width: 0;
    position: absolute;
    top: 6rem;
    right: 7%;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 1000;
}
.navbar2 li{
    padding: 8%;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Poppins';
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: right;
    transition: 1.5s;
}
.navbar2 li:hover{
    color: white;
    animation: ease-in;
    transition: 1s;
}
.closebtn{
    position: absolute;
    top: 2rem;
    right: 7%;
    cursor: pointer;
    color: white;
}
#dicon{
    color: rgb(80, 0, 0);
    cursor: pointer;
    font-size: 1.3rem;
}
#dicon2{
    color: rgb(80, 0, 0);
    cursor: pointer;
    font-size: 1.3rem;
    display: none;
}
.iconss{
    padding-right: 7%;
    display: flex;
    align-items: center;
}
.logo{
    letter-spacing: 3px;
    font-size: larger;
    padding-left: 7%;
}
ul{
    margin-right: 7%;
}
ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding-left: 5rem;
    cursor: pointer;
    letter-spacing: 1px;
}
ul li:hover{
    color: rgb(80, 0, 0);
    transition: 1s;
}
.icon{
    padding-right: 3%;
    display: none;
}
.content{
    color: white;
    list-style: none;
    font-family: 'Poppins';
}
li h2{
    color: rgb(80, 0, 0);
    font-size: 2.2rem;
    font-weight: bolder;
}
li h3{
    font-weight: lighter;
    font-size: 1rem;
    color: rgb(134, 134, 134);
}
li h4{
    font-weight: normal;
}
li button{
    height: 5vh;
    width: 100px;
    margin-top: 2rem;
    border-radius: 40px;
    background-color: transparent;
    color: rgb(80, 0, 0);
    border: 2px solid rgb(80, 0, 0);
    font-family: 'Poppins';
    font-size: large;
    font-weight: bold;
    animation: ease-in;
}
li button:hover{
    background-color: rgb(80, 0, 0);
    color: white;
    transition: ease-in-out .5s;
}
li button::after{
    background-color: transparent;
    transition: ease-in .5s;
}
.cp{
    display: flex;
    font-family: 'Poppins';
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}
img{
    max-height: 60vh;
    opacity: 20%;
}

/*BANNER2*/
#banner2{
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
}
.what{
    font-family: 'Poppins';
    color: rgb(80, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 2rem;
    font-weight: bold;
}
.card-holder{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}
.card{
    background-color: transparent;
    border: 1.6px solid white;
    height: 15rem;
    width: 25%;
    border-radius: 20px;
    align-items: center;
    font-family: 'Poppins';
    color: rgb(0, 255, 234);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
}
.card:hover{
    transform: translateY(-15px);
}
.card::after{
    transform: translateY(15px);
}
.one{
    background-image: url('forth.jpg');
    background-size: cover;
    background-position: center;
    opacity: 30%;
    background-blend-mode: multiply;
}
.one:hover{
    opacity: 90%;
    transition: 1.5s;
}
.two{
    background-image: url('pexels-flo-dahm-699459.jpg');
    background-size: cover;
    background-position: bottom;
    opacity: 30%;
}
.two:hover{
    opacity: 90%;
    transition: 1.5s;
}
.three{
    background-image: url('second.jpg');
    background-size: cover;
    background-position: center;
    opacity: 30%;
}
.three:hover{
    opacity: 90%;
    transition: 1.5s;
}

/*BANNER 3*/
#banner3{
    padding-top: 5rem;
    background-color: black;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
}
.row1{
    font-family: 'Poppins';
    color: white;
}
.row1 h2{
    color: rgb(80, 0, 0);
    padding-bottom: .5rem;
}
.row1 h5{
    font-weight: lighter;
    color: rgb(134, 134, 134);
}
.buut{
    margin-left: 7%;
    width: 15rem;
}

#banner4{
    width: 100%;
    height: 30vh;
    background-color: rgb(7, 7, 7);
    color: white;
}
#banner4 h2{
    font-family: 'Poppins';
    color: rgb(80, 0, 0);
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}
#banner4 .list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    font-family: 'Poppins';
    font-size: 1.1rem;
}
.list li{
    padding-top: 1rem;
    color: rgb(80, 0, 0);
    font-weight: bolder;
}
.l1 li span{
    color: white;
    font-weight: lighter;
}
.l2 li span{
    color: white;
    font-weight: lighter;
}
footer{
    background-color: rgb(7, 7, 7);
    font-family: 'Poppins';
    width: 100%;
    height: 40vh;
    color: #ffff;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
}
footer li{
    list-style: none;
}
footer li h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.six{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
}
/*RESPONSIVENESS*/

@media  screen and (max-width : 1024px) {
    li h2{
        color: rgb(80, 0, 0);
        padding-bottom: .8rem;
        font-size: 2rem;
    }
    li h3{
        font-size: .8rem;
    }
    .cp{
        padding-left: 3%;
        padding-top: 7rem;
    }
    img{
        padding-right: 3%;
        height: 55vh;
    }
    ul li{
        padding-left: 5rem;
    }
}
@media  screen and (max-width : 940px)  {
    .banner1{
        height: 89.9vh;
    }
    #banner2{
        height: 55vh;
    }
    img{
        height: 50vh;
        padding-right: 3%;
    }
    .content{
        padding-left: 3%;
    }
    ul li{
        padding-left: 3rem;
    }
}
@media  screen and (min-width : 820.9px) {
    .mobile{
        display: none;
    }
    .iconss{
        display: none;
    }
    .navbar2{
        display: none;
    }
}
@media  screen and (max-width : 820.9px) {
    #desktop{
        display: none;
    }
    ul li{
        padding-left: .3rem;
    }
    .content{
        position: absolute;
        z-index: 9;
        padding-top: 22rem;
    }
    .navbar ul li{
        display: none;
    }
    .content li h3{
        display: none;
    }
    li button{
        margin-left: 30%;
        margin-top: .3rem;
    }
    img{
        height: 40vh;
        padding-left: 6%;
    }
}
@media  screen and (max-width : 768px) {
    #banner2{
        height: 50vh;
    }
    #banner3{
        height: 70vh;
    }
    ul li{
        padding-left: 3rem;
    }
    .logo{
        font-size: 1.2rem;
    }
    li button{
        background-color: rgb(80, 0, 0);
        color: white;
    
    }
    footer{
        height: 30vh;
    }
    .six h3{
        font-size: 1rem;
    }
    footer li h3{
        font-size: 1rem;
    }
    footer li h4{
        font-size: .8rem;
    }
    .card{
        height: 12rem;
    }
    .one{
        opacity: 90%;
    }
    .two{
        opacity: 90%;
    }
    .three{
        opacity: 90%;
    }
}
@media  screen and (max-width: 712px) {
    #banner3{
        flex-direction: column-reverse;
        align-items: center;
        height: 160vh;
        padding-top: .5rem;
    }
    .row1 h2{
        padding-left: 19%;
    }
    .row1 h5{
        font-size: 1.2rem;
    }
    .l1 li{
        font-size: .9rem;
    }
    .l2 li{
        font-size: .9rem;
    }
}
@media  screen and (max-width : 700px) {
    ul li{
        display: none;
    }
    .l1{
        font-size: .9rem;
    }
    .l2{
        font-size: .9rem;
    }
    footer{
        height: 20vh;
    }
    .six h3{
        font-size: .9rem;
    }
    footer li h3{
        font-size: .9rem;
        font-weight: lighter;
    }
    footer li h4{
        font-size: .7rem;
        font-weight: lighter;

    }
    
}
@media screen and (max-width : 544px) {
    .row1 h2{
        font-size: 1.5rem;
        padding-left: 11%;
    }
    .row1 h5{
        font-size: 1rem;
    }
    footer{
        height: 20vh;
    }
    .six h3{
        font-size: .7rem;
    }
    footer li h3{
        font-size: .7rem;
    }
    footer li h4{
        font-size: .5rem;
    }
    .l1 li{
        font-size: .7rem;
    }
    .l2 li{
        font-size: .7rem;
    }
}
@media screen and (max-width : 544px) {
    #banner3{
        padding-bottom: .5rem;
        height: 120vh;
    }
    .row1 h5{
        font-size: .9rem;
    }
    .row1 h2{
        padding-left: 9%;
    }
    
}
@media  screen and (max-width : 425px) {
    #banner2{
        height: 110vh;
    }
    .card-holder{
        display: flex;
        flex-direction: column;
        padding-left: 15%;
    }
    .card{
        width: 85%;
        height: 12rem;
        margin-bottom: 3rem;
    }
    #banner3{
        height: 130vh;
    }
    .six h3{
        display: none;
    }
    footer{
        height: 22vh;
    }
}
@media  screen and (max-width : 375px) {
    #banner2{
        height: 100vh;
    }
    ul li{
        display: none;
    }
    .logo{
        font-size: 1rem;
    }
    .navbar{
        padding-top: 2rem;
    }
    .card{
        height: 10rem;
    }
    .row1 h5{
        font-size: .7rem;
    }
    #banner3{
        height: 120vh;
    }
    .row1 h2{
        font-size: 1.1rem;
    }
    .list{
        flex-direction: column;
        padding-left: 10%;
        padding-top: .2rem;
    }
    #banner4{
        height: 35vh;
    }
    .l1{
        padding-top: .1rem;
    }
    .l2{
        padding-top: .1rem;
    }
}
@media screen and (max-width: 275px) {
    img{
        display: none;
    }
    li h2{
        font-size: 1.5rem;
    }
}
